.feature-list {
}

.feature-item {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 6vw;
    margin-right: 4vw;
    border-bottom: 1px solid rgba(200, 200, 200, 0.075);

    .item-left {
        display: flex;
        justify-content: flex-start;
        

        .feature-icon {
            font-size: 25px;
            margin-right: 15px;
            color: yellow;
        }

        .feature {
            font-weight: bold;
        }
    }

    .item-right {
        display: flex;
        justify-content: space-between;

        .greater-signal {
            margin-left: 20px;
            color: #dddddd;
        }
    }
}