.login {
    width: 100%;
    height: 100%;
    padding: 0 5vw;
    padding-top: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    .login-title {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
    }

    .input-container {
        width: 90vw;
        margin: 5px 0;
        border-bottom: 1px solid rgb(250, 217, 85);

        .input-icon {
            font-size: 1.6rem;
        }

        input {
            display: inline-block;
            width: 60vw;
            height: 30px;
            margin-left: 20px;
            border: none;
        }

        input:focus {
            outline: none;
            border: none;
        }
    }

    .login-button {
        width: 100%;
        height: 36px;
        margin-top: 25px;
        border-radius: 100px;
        background: linear-gradient(left, rgb(250, 217, 85), orange 30%);
        line-height: 36px;
        text-align: center;
    }

    .login-button:hover {
        background: linear-gradient(left, orange,  rgb(250, 217, 85) 20%);
    }

    .register-notice {
        display: inline-block;
        margin-top: 5px;
        text-decoration: none;
        color: rgb(221, 79, 35);
    }
}
