.pool-section-header {
    width: 100%;
    text-align: center;

    .header-line {
        // font-size: 1.2rem;
        font-weight: bolder;
        color: #999999;
    }

    .section-icon {
        margin: 0 5px;
    }
}