.category-card {
    width: 92vw;
    height: 168px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    margin: 5px 0;
    border-radius: 10px;
    background-color: #fff;
}