.nav-tab {
    
    .nav-link {
        width: 60px;
        height: 48px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;

        .nav-icon-font {
            width: 100%;
            font-size: 20em;
            color: black;
        }
        
        .nav-text {
            font-size: .6em;
            letter-spacing: .1em;
            color: black;
        }
    }
}

.active-nav-tab {
    .icon-font {
        color: rgb(254, 217, 67);
    }
}    




