.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0;
    background-color: #FFF;
}