.category-navbar {
    width: 100%;
    height: 38px;
    position: relative;
    display: flex;
    padding: 0 15px;
    box-sizing: border-box;
    overflow-x: scroll;
    transition: left 1s ease-in-out;
}

.category-navbar::-webkit-scrollbar {
    display: none;
}