.category-nav-tab {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    color: #999;
    font-size: .8em;
}

.category-nav-tab:nth-child(1) {
    margin-left: 0px;
}

.category-nav-tab:nth-last-child(1) {
    padding-right: 15px;
}

.selected-nav-tab {
    font-weight: bold;
    font-size: 1em;
    color: #000;
}